*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1b1924;
  width: 360px;
  min-height: auto;
  text-align: center;
  margin: 0 auto;
}

.logo {
  width: 90px;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

textarea,
input {
  background-color: #444059;
  border: none;
}

textarea {
  min-width: 320px;
  height: 120px;
  margin: 0 auto 10px auto;
  border: none;
  border-radius: 0.5rem;
  resize: none;
  padding: 1rem;
}

.name-inputs {
  display: flex;
  gap: 0.625rem;
  width: 320px;
  margin: 0.125rem auto;

  /* margin: 0 25px; */
}

input {
  width: 100%;
  height: 40px;
  text-align: center;
  flex-basis: auto;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.publish-btn {
  width: 320px;
  height: 60px;
  margin: 0.5rem auto;
  font-size: 1.375rem;
  color: #000;
  background-color: #28a9f1;
  border: none;
  border-radius: 0.5rem;
}

.container {
  padding-bottom: 1.5rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 320px;
  min-height: 100px;
  padding: 0.5rem;
  margin: 1rem auto;
  flex-grow: 1;
}

.like-counter {
  font-weight: 700;
  user-select: none;
}

.info {
  margin: 0.5rem;
  color: #ff0000;
}

/* typography */

h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  color: #fff;
  font-size: 1.25rem;
  margin: 1rem 0;
}

p {
  word-wrap: break-word;
}

.endorsement-text {
  font-size: 1.25rem;
  text-align: left;
  padding: 0 1.25rem;
}

textarea,
input,
.publish-btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
